{
  "cmake.debugConfig": {
    "cwd": "${command:cmake.launchTargetDirectory}"
  },
  "cmake.useCMakePresets": "always",
  "cmake.sourceDirectory": "${workspaceFolder}",
  "cmake.configurePreset": "windows-x64-local",
  "cmake.buildPreset": "debug-local",
  "C_Cpp.default.configurationProvider": "ms-vscode.cmake-tools"
}
