cmake_minimum_required(VERSION 4.2)

set(VCPKG_MANIFEST_DIR "${CMAKE_CURRENT_SOURCE_DIR}/BroccoliEngine/Engine" CACHE PATH
    "Directory containing the BroccoliEngine vcpkg manifest")

project({PROJECT_NAME}Workspace LANGUAGES CXX)

set(BROCCOLI_PROJECT_NAME "{PROJECT_NAME}")
set(BROCCOLI_PROJECT_ROOT "${CMAKE_CURRENT_SOURCE_DIR}")
set(BROCCOLI_ENGINE_ROOT "${CMAKE_CURRENT_SOURCE_DIR}/BroccoliEngine")
set(BROCCOLI_GAME_ROOT "${CMAKE_CURRENT_SOURCE_DIR}/{PROJECT_NAME}")
set(BROCCOLI_OUTPUT_ROOT "${CMAKE_CURRENT_SOURCE_DIR}")

include("${BROCCOLI_ENGINE_ROOT}/ProjectDefaults.cmake")
include("${BROCCOLI_PROJECT_ROOT}/Intermediate/Generated/Plugins.cmake")

add_subdirectory(BroccoliEngine/Engine)
add_subdirectory({PROJECT_NAME})

foreach(Configuration IN ITEMS Debug Editor Release)
  add_custom_target("BroccoliProjectBuild_${Configuration}")
  add_dependencies("BroccoliProjectBuild_${Configuration}" "${BROCCOLI_PROJECT_NAME}")
  broccoli_add_configured_plugins_to_target(
    TARGET "BroccoliProjectBuild_${Configuration}"
    CONFIGURATION "${Configuration}"
  )
endforeach()
