{
  "version": 6,
  "include": [
    "CMakePresets.json"
  ],
  "configurePresets": [
    {
      "name": "local-windows-x64",
      "displayName": "Local Windows x64",
      "inherits": "windows-x64",
      "cacheVariables": {
        "CMAKE_TOOLCHAIN_FILE": "{CMAKE_TOOLCHAIN_FILE}"
      }
    }
  ]
}
